---
import Layout from '../layouts/Layout.astro';
import { Toaster} from "sonner"
---

<Layout>
	<h1 class="text-blue-500 text-2xl">Zero Two</h1>
	<Toaster richColors client:only="react" /> 
</Layout>
